# 1.Let us say your expense for every month are listed below,
## January - 2200
## February - 2350
## March - 2600
## April - 2130
## May - 2190
## Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April andgot a refund of 200$. Make a correction to your monthly expense list based on this

In [1]:
expense = [2200,2350,2600,2130,2190]

1.In Feb, how many dollars you spent extra compare to January?

In [3]:
print(f"You spent extra : {expense[1]-expense[0]}")

You spent extra : 150

2. Find out your total expense in first quarter (first three months) of the year.

In [4]:
print(f"The total expense in first quarter : {expense[0]+expense[1]+expense[2]}")

The total expense in first quarter : 7150

3.Find out if you spent exactly 2000 dollars in any month

In [7]:
print(f"Is there any expense exactly 2000 dollars? {2000 in expense}")

Is there any expense exactly 2000 dollars? False

4.June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [8]:
expense.append(1980)
print(f"New expense list after adding june expense {expense}")

New expense list after adding june expense [2200, 2350, 2600, 2130, 2190, 1980]

5 .You returned an item that you bought in a month of April andgot a refund of 200$. Make a correction to your monthly expense list based on this

In [9]:
expense[3] = expense[3]-200
print(f"Expenses after refunding 200$ in the april expense : {expense} ")

Expenses after refunding 200$ in the april expense : [2200, 2350, 2600, 1930, 2190, 1980]

# 2. You have a list of your favourite marvel super heros.
## heros=['spider man','thor','hulk','iron man','captain america']

## Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [17]:
heros = ['spider man','thor','hulk','iron man','captain america']

1.Length of the list

In [18]:
print(f"Length of the heros list {len(heros)}")

Length of the heros list 5

2. Add 'black panther' at the end of this list

In [19]:
heros.append('black panther')
print(f"heros list after adding balck panther {heros}")

heros list after adding balck panther ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3.You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

In [20]:
heros.remove('black panther')
heros.insert(3,'black panther')
print(f"heros list changes {heros}")

heros list changes ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4.Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

In [21]:
heros[1:3] = ['doctor strange']
print(f"New heros list {heros}")

New heros list ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [23]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

# 3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [27]:
initial = 1
max_num = int(input("Enter the number upto which you want odd numbers: "))
odd_list = []
for i in range(initial,max_num):
    if(i%2!= 0):
        odd_list.append(i)
        
print(odd_list)

Enter the number upto which you want odd numbers: 100
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]